.result-label-container{
    margin-top: 20px;
    padding: 10px;
}

.result-container{
    border-radius: var(--border-radius);
    background-color: var(--light-gray);
    padding: 20px 20px !important;
    border: 1px solid var(--border-color-gray);
}

.result-scores-container{
    padding: 10px;
}

.question-answer{
    min-height: 20px;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 10px;
    max-height: 50px;
    overflow-y: auto
}

.question-contex{
    min-height: 20px;
    background-color: white;
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 10px;
    max-height: 150px;
    overflow-y: auto
}