.base-info{
    text-align: center;
    padding: 30px;
    color: var(--text-third);
    margin-top: 30px
}

.base-info-span{
    color: var(--text-secondary);
}

.node-list{
    width: 55%;
}

.try-again-button:hover{
    color: var(--text-secondary-hover);
    cursor: pointer;
}